/*
###############################################################################################################################################################
###############################################################################################################################################################
###                                                                                                                                                         ###
###                                                     DEMOKRATIAN   http://demokratian.org                                                                ###
###                                                   Copyright (C) 2020 CARLOS SALGADO WERNER                                                              ###
###                              Este programa ha sido creado por Carlos Salgado Werner (http://carlos-salgado.es)                                          ###
###                                                                                                                                                         ###
### Este programa es software libre. Puede redistribuirlo y/o modificarlo bajo los términos de la Licencia GNU Affero General Public License según es       ###
### publicada por la Free Software Foundation, bien de la versión 3 de dicha Licencia o bien de cualquier versión posterior.                                ###
### Este programa se distribuye con la esperanza de que sea útil, pero SIN NINGUNA GARANTÍA, incluso sin la garantía MERCANTIL implícita o sin garantizar   ###
### la CONVENIENCIA PARA UN PROPÓSITO PARTICULAR. Véase la Licencia GNU Affero General Public License para más detalles.                                    ###
### Debería haber recibido una copia de la Licencia GNU Affero General Public License. Si no ha sido así, puede encontrarla en https://www.gnu.org/licenses ###
###                                             -------------  English Version  --------------                                                              ###
### This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the    ###
### Free Software Foundation, either version 3 of the License, or (at your option) any later version.                                                       ###
###                                                                                                                                                         ###
### This program is distributed in the hope that it will be useful,but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or        ###
### FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details. You should have received a copy of the GNU Affero        ###
### General Public License along with this program.  If not, see https://www.gnu.org/licenses/.                                                             ###
###                                             -----------------------------------------------                                                             ###
### Si quieres participar en la mejora de este software ,eres libre de hacerlo,                                                                             ###
### También puedes contactar con migo en el correo info@demokratian.org para trabajar en el desarrollo de forma colaborativa                                ###
###                                                                                                                                                         ###
###                                                 No puedes eliminar este aviso de licencia,                                                              ###
###                  ni el enlace con el copy que se ve al ejecutar el programa en el pie de las páginas index.php y resto de páginas.                      ###
###                                                                                                                                                         ###
###############################################################################################################################################################
###############################################################################################################################################################
*/


/* GLOBAL STYLES
-------------------------------------------------- */


body {
  padding0: 0;
  margin: 0;
  color: #5a5a5a;
  background-color: rgba(203, 203, 210, 0.15);
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

h1, .h1 {
    font-size: 52px;
}

h2, .h2 {
    font-size: 36px;
}

h3, .h3 {
    font-size: 28px;
    margin: 20px 0 10px;
}

h4, .h4 {
    font-size: 22px;
    line-height: 30px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-weight: 300;
    margin: 30px 0 15px;
}


h3.card-title {
    background-color: rgb(65 166 210);
    border: solid 1px #ccc;
    padding: 10px;
}
strong{
  font-weight: bold;
}
.content{
padding: 70px 30px 70px 30px;

}
.bg-blue{
  background: #41a6d2;
}
.bg-black{
  background: #000000;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.separador{
  padding: 15px;
}

.caja_de_display_b {
    border: solid 1px;
    margin-left: 25px;
    padding: 15px;
}

/* Change bootstrap css styles
-------------------------------------------------- */
.row {
    margin-right: 0px;
    padding-bottom: 10px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-lg-2, .col-lg-3, .col-lg-4,
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-right: 0px;
}



.modal.modal-mini .modal-dialog {
    max-width: 255px;
    margin: 0 auto;
}

.modal .modal-content .modal-footer {
    border-top: none;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
/*alert */
.alert {
    border: 0;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 10px 15px;
    font-size: 14px;
}
.alert-primary {
    /*color: #004085;*/
    background-color: #007bff;
    border-color: #b8daff;
}
.alert-info {
    /*color: #0c5460;*/
    background-color: #41a6d2;;
    border-color: #bee5eb;
}
.alert-success {
    /*color: #155724;*/
    background-color: #28a745;
    border-color: #c3e6cb;
}
.alert-warning {
    /*color: #856404;*/
    background-color: #ffc107;
    border-color: #ffeeba;
}
.alert-danger {
    /*color: #721c24;*/
    background-color: #dc3545;
    border-color: #f5c6cb;
}

.alert button.close {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -13px;
    /*z-index: 1033;*/
    background-color: #FFFFFF;
    display: block;
    border-radius: 50%;
    opacity: .4;
    line-height: 1px;
    width: 25px;
    height: 25px;
    outline: 0 !important;
    text-align: center;
    padding: 3px;
    font-weight: 300;
}
.alert i.simple-remove {
    font-size: 12px !important;
    display: inline-block;
    opacity:0.5;
}

.white-icon{
  color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    /*font-size: 1.5em;*/

}
.card .alert.alert-icon {
    padding-left: 65px;
}
.alert-with-icon{
  left: 15px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.alert .close~span {
    display: block;
    max-width: 89%;
}

/* buttons*/
.btn {
    margin-top: 0.5rem;
}

.btn-secondary {
    color: #fff;
    background-color: #7460ee;
    border-color: #7460ee;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #563dea;
    border-color: #4c32e9;
}


/* FORM
-------------------------------------------------- */

form#frmDatos {
    width: 100%;
}

fieldset {
    border: solid 1px #a5a5a5;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -15px;
    margin-right: -15px;
}

.form-control{
    color: #495057;
    background-color: #fff;
    border-color: #41a6d2;
    outline: 0;
    box-shadow: 0 0 0 0;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #41a6d2;
    outline: 0;
    box-shadow: 0 0 0 0;
}
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=date],
  input[type=password],
  select,
  textarea {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f5f8fa;
    color: #33475b;
    font-size: 1rem;
    line-height: 1.375;
    border: 1px solid;
    border-color: #41a6d2;
    border-radius: .1875rem;
    min-height: 2.5rem;
    padding: 0.5625rem 0.625rem;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    padding-top: 10px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=date]:focus,
input[type=password]:focus,
select:focus {
  outline: 0;
  border: 0;
  border-bottom: 3px solid #41a6d2;
  box-shadow: 0px 2px 2px 1px;
}

textarea:focus {
  outline: 0;
  border: 0;
  border: 1px solid #41a6d2;
  border-bottom: 3px solid #41a6d2;
  box-shadow: 0 0 5px 1px;
}

::placeholder {
  color: #33475b;;
  opacity: 1; /* Firefox */
}

select,
input[type="date"]{
  color: #33475b;;

}
/**/
.nav-provincias {
  padding: 0;
}

.nav-provincias li {
    border: solid 1px #f1ecec;

     padding: 10px;
     list-style:none;
}
.nav-provincias li a {

 text-decoration: none;
 color: #000;
 }
 .nav-provincias li:hover {
  background-color: #ccc;
  color: #fff;
  }

/* Info BALLOONS
-------------------------------------------------- */
.tooltip-inner {
    max-width: 300px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #17a2b8;
    border-radius: .25rem;
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 5px 5px 0;
    border-top-color: #17a2b8;
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    margin-top: -3px;
    content: "";
    border-width: 5px 5px 5px 0;
    border-right-color: #17a2b8;
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 0 5px 5px;
    border-bottom-color: #17a2b8;
}
.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    right: 0;
    margin-top: -3px;
    content: "";
    border-width: 5px 0 5px 5px;
    border-left-color: #17a2b8;
}

.help{
  font-size:36px;
  color:#007bff;
}
/* MAIN CONTENT
-------------------------------------------------- */
main{

}

main>div.row {  /*quitamos el pequeño padding que teniamos y separaba el menú lateral y el pie*/
    padding-bottom: 0px;
}

.dropdown-item:hover{
  background-color: #eaeaea;
}

/* Menu USER
-------------------------------------------------- */

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #41a6d2;
  /*position: fixed;*/
  top: 0px;
  min-height: 1000px;
  height: 100%;
  color: #e1ffff;
}


.nav-side-menu .brand {
  background-color: #343a40;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;

}



.menu-list a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    background-color:#41a6d2;
    display: block;
    border:1px solid #000;
    padding: 10px 0px 10px 20px;
    }

.menu-list a:hover{
    background-color:#fff;
    color:#000;
    }
/*.menu-list li{
    width:100%;
    padding:5px 10px;
    background-color:#41a6d2;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    }
.menu-list li:hover{
    background-color:#fff;
    color:#000;
    }
*/
li.user-box {
    padding: 10px;
        }
li.user-box:hover {
    background-color:#41a6d2;
    color:#fff;
    }

    li.active {
        background-color: #0a788d;
    }

#usuario{
  border: solid 1px black;
  padding: 10px;
}

#usuario li {
    border: 0px;
    padding: 0px;
}

#usuario li:hover {
    background-color: transparent;
    color:#fff;
}
/* card
-------------------------------------------------- */
.contenido{
  min-height: 850px;
}

.card {
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
    position: relative;
    display: -ms-flexbox;

    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;

    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;

}
.contenido>div.card-header-votaciones {
    background-color: rgb(65 166 210);
    border: solid 1px #ccc;
}

.contenido>div.card-header {
    background-color: rgb(200 201 208);
    border: solid 1px #ccc;
}

h1.card-title{
    font-size: 36px;
    margin: 15px;

}

.card-little{
    margin: auto;
    max-width: 600px;
    border: solid 1px #ccc;
    padding: 40px;
}

.card-body {

    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
/* Datatable table1
-------------------------------------------------- */
#table1_wrapper{

}
.dt-buttons{
float: left;
padding: 30px 30px 30px 0;
}
.dataTables_length{
float: left;
padding: 30px 30px 30px 30px;
}
.dataTables_filter{
float: left;
padding: 30px 0 30px 30px ;
}

div.dataTables_wrapper
div.dataTables_filter input {
  width: 100%;
}
.dt-buttons > .btn {
    border-width: 2px;
    background-color: transparent;
    font-weight: 400;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 3px 16px;
    border-color: #888888;
    color: #888888;
}
.dt-buttons > .btn:hover {
    border-width: 2px;
    background-color: green;
    font-weight: 400;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 3px 16px;
    border-color: green;
    color: white;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #41a6d2;
    border-color: #41a6d2;
}
.page-link {

    color: #41a6d2;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

/* accordion CONTENT
-------------------------------------------------- */

.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
}
.accordion > .card > .card-header {
  cursor:pointer;
}

/* FOOTER CONTENT
-------------------------------------------------- */


.demokratian-footer{
  padding: 30px 0;
}

.list-inline a {
    color: #fff;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin-right: 15px;
}

.white{
  color: #fff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-right: 15px;
}

/* ckeditor
-------------------------------------------------- */
input.cke_dialog_ui_input_text, input.cke_dialog_ui_input_password, input.cke_dialog_ui_input_tel, textarea.cke_dialog_ui_input_textarea{
  font-size: 12px;
}

/*  Espacio para las graficas de los resultados
----------------------------- */

.resultadosDonut{
    height: 550px;
    width: 500px;

}

.resultadosGrafica{
    height: 500px;
    width: 550px;
    margin-bottom: 80px;
}

#donut_resultado_f>svg{  /*  con esto foramos a ques ea mas grande la grafica circular*/
  height:700px;
}
/* crop styles
-------------------------------------------------- */

.image_area {
  position: relative;
}

.image_toCrop {
    display: block;
    max-width: 100%;
}

.preview {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}

.modal-xxl{
    max-width: 1000px !important;
}

.overlay {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  height: 0;
  transition: .5s ease;
  width: 100%;
}

.image_area:hover .overlay {
  height: 50%;
  cursor: pointer;
}

.text_crop {
  color: #333;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.img-circle{
  border-radius: 50%;
}


/* profile styles -- caja de candidatos u opciones
-------------------------------------------------- */

.profile-card .profile-header {
background-color: #ad1455;
padding: 42px 0;
}
.profile-card .profile-body .image-area img {
border: 2px solid #ad1455;
padding: 2px;
margin: 2px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
border-radius: 50%;
}
.img-profile {
vertical-align: middle;
}
.profile-card .profile-body .image-area {
text-align: center;
margin-top: -64px;
}

.profile-card .profile-body .content-area {

border-bottom: 1px solid #ddd;
padding: 0px 15px 15px 15px;
}
.center_text{
text-align: center;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 767px) {
  /* MENU HORIZONTAL
  -------------------------------------------------- */
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

@media (min-width: 992px) {


}


@media (max-width: 767px) {  /*OJO, ES MAX-WIDTH*/
  /* MENU HORIZONTAL
  -------------------------------------------------- */

  .nav-side-menu {
    position: relative;
    width: 100%;
    /*margin-bottom: 10px;*/
    min-height: 100%;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}



/* Interventroes
-----------------------------------------*/
.content_interventores{
  padding: 30px 30px 70px 30px;

}


/* temporal ordenar */

.column {
  float:left;
  width: 50%;
}
.connected-sortable {
  margin: 0 auto;
  list-style: none;
  width: 90%;
}

li.draggable-item {
  width: inherit;
  padding: 15px 20px;
  cursor: all-scroll;
  -webkit-transition: transform .25s ease-in-out;
  -moz-transition: transform .25s ease-in-out;
  -o-transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out;

  -webkit-transition: box-shadow .25s ease-in-out;
  -moz-transition: box-shadow .25s ease-in-out;
  -o-transition: box-shadow .25s ease-in-out;
  transition: box-shadow .25s ease-in-out;
  &:hover {
    cursor: all-scroll;
    background-color: #eaeaea;
  }
}

li.draggable-left{
    background-color: #f5f5f5;
    border: solid 1px #ffffff;
}
li.draggable-right{
    background-color: #d2d2d2;
    border: solid 1px #ffffff;
}
/* styles during drag */
li.draggable-item.ui-sortable-helper {
  background-color: #e5e5e5;
  -webkit-box-shadow: 0 0 8px rgba(53,41,41, .8);
  -moz-box-shadow: 0 0 8px rgba(53,41,41, .8);
  box-shadow: 0 0 8px rgba(53,41,41, .8);
  transform: scale(1.015);
  z-index: 100;
}
li.draggable-item.ui-sortable-placeholder {
  background-color: #ddd;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
