/*
###############################################################################################################################################################
###############################################################################################################################################################
###                                                                                                                                                         ###
###                                                     DEMOKRATIAN   http://demokratian.org                                                                ###
###                                                   Copyright (C) 2020 CARLOS SALGADO WERNER                                                              ###
###                              Este programa ha sido creado por Carlos Salgado Werner (http://carlos-salgado.es)                                          ###
###                                                                                                                                                         ###
### Este programa es software libre. Puede redistribuirlo y/o modificarlo bajo los términos de la Licencia GNU Affero General Public License según es       ###
### publicada por la Free Software Foundation, bien de la versión 3 de dicha Licencia o bien de cualquier versión posterior.                                ###
### Este programa se distribuye con la esperanza de que sea útil, pero SIN NINGUNA GARANTÍA, incluso sin la garantía MERCANTIL implícita o sin garantizar   ###
### la CONVENIENCIA PARA UN PROPÓSITO PARTICULAR. Véase la Licencia GNU Affero General Public License para más detalles.                                    ###
### Debería haber recibido una copia de la Licencia GNU Affero General Public License. Si no ha sido así, puede encontrarla en https://www.gnu.org/licenses ###
###                                             -------------  English Version  --------------                                                              ###
### This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the    ###
### Free Software Foundation, either version 3 of the License, or (at your option) any later version.                                                       ###
###                                                                                                                                                         ###
### This program is distributed in the hope that it will be useful,but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or        ###
### FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details. You should have received a copy of the GNU Affero        ###
### General Public License along with this program.  If not, see https://www.gnu.org/licenses/.                                                             ###
###                                             -----------------------------------------------                                                             ###
### Si quieres participar en la mejora de este software ,eres libre de hacerlo,                                                                             ###
### También puedes contactar con migo en el correo info@demokratian.org para trabajar en el desarrollo de forma colaborativa                                ###
###                                                                                                                                                         ###
###                                                 No puedes eliminar este aviso de licencia,                                                              ###
###                  ni el enlace con el copy que se ve al ejecutar el programa en el pie de las páginas index.php y resto de páginas.                      ###
###                                                                                                                                                         ###
###############################################################################################################################################################
###############################################################################################################################################################
*/


.direct-chat-msg {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    max-height: 3500px;  /* cuando es demasiado largo, ponemos una bara de scroll*/
    overflow: auto;
    padding: 10px;
}
.direct-chat-msg {
    margin-bottom: 10px;
}
.direct-chat-msg, .direct-chat-text {
    display: block;
}


.direct-chat-infos {
    display: block;
    font-size: .875rem;
    margin-bottom: 2px;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.direct-chat-name {
    font-weight: 600;
}
.float-left {
    float: left!important;
}
.direct-chat-timestamp {
    color: #697582;
}
.float-right {
    float: right!important;
}

.direct-chat-img {
    border-radius: 50%;
    float: left;
    height: 60px;
    width: 60px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.direct-chat-text {
    border-radius: .3rem;
    background: #45b8eac4;
    border: 1px solid #41a6d2;
    color: #444;
    margin: 0 0 0 70px;
    padding: 5px 10px;
    position: relative;
}
.direct-chat-msg, .direct-chat-text {
    display: block;
}

.direct-chat-text::before {
    border-width: 6px;
    margin-top: -6px;
}
.direct-chat-text::after, .direct-chat-text::before {
    border: solid transparent;
    border-right-color: #41a6d2;
    content: ' ';
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
}

.direct-chat-text::after {
    border-width: 5px;
    margin-top: -5px;
}

.right .direct-chat-img {
    float: right;
}

.right>.direct-chat-text {
    background: #e3b21f8a;
    border-color: #ffc107;
    color: #1f2d3d;
}
.right .direct-chat-text {
    margin-left: 0;
    margin-right: 70px;
}

.right>.direct-chat-text::after, .right>.direct-chat-text::before {
    border-left-color: #ffc107;
}
.right .direct-chat-text::after, .right .direct-chat-text::before {

    border-right-color: transparent;
    left: 100%;
    right: auto;
}
.direct-chat-text::before {
    border-width: 6px;
    margin-top: -6px;
}

/**/
.float-left.user-state{
  padding: 0 10px 0 0;
}
.float-right.user-state{
  padding: 0 0 0 10px;
}


/* grupun text button*/
input#submit.input-group-text{
    height: 110px;
    margin-top: auto;
    border-top-right-radius:  5px;
    border-bottom-right-radius:  5px;
    background-color: #007bff;
    color: #ffffff;
}

/* columna de los votos*/
.fondo_voto {
    border: solid 1px #41a6d2;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: -5px;
    margin-right: -5px;
}

.info_voto{
  float: right;
}

h4{
  margin: 0;
}
