/*
###############################################################################################################################################################
###############################################################################################################################################################
###                                                                                                                                                         ###
###                                                     DEMOKRATIAN   http://demokratian.org                                                                ###
###                                                   Copyright (C) 2020 CARLOS SALGADO WERNER                                                              ###
###                              Este programa ha sido creado por Carlos Salgado Werner (http://carlos-salgado.es)                                          ###
###                                                                                                                                                         ###
### Este programa es software libre. Puede redistribuirlo y/o modificarlo bajo los términos de la Licencia GNU Affero General Public License según es       ###
### publicada por la Free Software Foundation, bien de la versión 3 de dicha Licencia o bien de cualquier versión posterior.                                ###
### Este programa se distribuye con la esperanza de que sea útil, pero SIN NINGUNA GARANTÍA, incluso sin la garantía MERCANTIL implícita o sin garantizar   ###
### la CONVENIENCIA PARA UN PROPÓSITO PARTICULAR. Véase la Licencia GNU Affero General Public License para más detalles.                                    ###
### Debería haber recibido una copia de la Licencia GNU Affero General Public License. Si no ha sido así, puede encontrarla en https://www.gnu.org/licenses ###
###                                             -------------  English Version  --------------                                                              ###
### This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the    ###
### Free Software Foundation, either version 3 of the License, or (at your option) any later version.                                                       ###
###                                                                                                                                                         ###
### This program is distributed in the hope that it will be useful,but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or        ###
### FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details. You should have received a copy of the GNU Affero        ###
### General Public License along with this program.  If not, see https://www.gnu.org/licenses/.                                                             ###
###                                             -----------------------------------------------                                                             ###
### Si quieres participar en la mejora de este software ,eres libre de hacerlo,                                                                             ###
### También puedes contactar con migo en el correo info@demokratian.org para trabajar en el desarrollo de forma colaborativa                                ###
###                                                                                                                                                         ###
###                                                 No puedes eliminar este aviso de licencia,                                                              ###
###                  ni el enlace con el copy que se ve al ejecutar el programa en el pie de las páginas index.php y resto de páginas.                      ###
###                                                                                                                                                         ###
###############################################################################################################################################################
###############################################################################################################################################################
*/

/*estilos de la votacion tipo orden*/

ul.candidates{

    padding: 10px;
}

ul.candidates li{
    list-style: none;
    background-color: #f8f8f8;
    border: 1px solid #444444;
    margin-bottom: 10px;
    padding: 10px 20px 10px 10px;
    position: relative;
}

ul.candidates li:hover{
    background-color: #b8d100;
}

ul.candidates li button{
    float: right;
    /*display: none;*/
    bottom: 4px;
    /*background-color: #444444;*/
    color: #FFF;
    margin-right: 5px;
}
ul.candidates li button.add-candidate{
    padding: 5px 15px;
  /*  margin-top: -5px;*/
}
ul.candidates li.empty button{
    display: none;
}

ul.candidates li button:disabled{
    background-color: #ccc;
}

/**/

ul.candidates_res{
    background-color: #f0f0f0;
    padding: 10px;
}

ul.candidates_res li.mas{
    list-style: none;
    background-color: #b8d100;
    border: 1px solid #444444;
    margin-bottom: 10px;
    padding: 10px 20px 10px 10px;
    position: relative;
}

ul.candidates_res li.fem{
    list-style: none;
    background-color: #CC33CC;
    border: 1px solid #444444;
    margin-bottom: 10px;
    padding: 10px 20px 10px 10px;
    position: relative;
}

ul.candidates_res li.ne{
    list-style: none;
    background-color: #CCCC33;
    border: 1px solid #444444;
    margin-bottom: 10px;
    padding: 10px 20px 10px 10px;
    position: relative;
}

.pull-right {
    float: right;
  margin-top: -10px;
}

#confirm-neutro>ul>li, #confirm-men>ul>li, #confirm--women>ul>li{
  background-color: #3ca8d870;
}
